.error_404_redirect {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

.error_404_title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 288px;
    margin-bottom: 50px;
    margin-top: 20px;
    color: #ff6060;
}

.error_404_description {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;
    text-align: center;
    color: #ff6060;
}

.back_to_home_page {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    margin-top: 150px;
    color: #ff6060;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .error_404_title {
        font-size: 96px;
        display: flex;
        align-items: center;
        margin-top: 100px;
    }

    .error_404_description {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0em;
        width: 100%;
        margin: 0;
    }

    .back_to_home_page {
        font-family: Montserrat;
        font-size: 14px;
        margin: 133px 78px 49px 76px;
    }
}