.home {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.banner {
    height: 223px;
    width: 100%;
    opacity: 0.9;
}

@media screen and (max-width: 768px) {
    .home {
        margin-top: 14px;
        margin-right: 0;
        margin-left: 0;
    }
}