.about-title {
    color: black;
    font-size: 24px;
    font-family: Montserrat;
}

.about-page {
    margin: auto;
    padding: 20px 20px;
}

.banner-about {
    margin-top: 49px;
    margin-bottom: 80px;
    margin-left: 70px;
    margin-right: 70px;
    filter: brightness(70%);
    width: 110px;
}

.about .banner {
    height: 110px;
}

.collapse-about {
    width: 70%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .collapse-about {
        width: 100%;
    }
}