.rental_display {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.rental_content {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rental_informations {
    display: flex;
    flex-direction: column;
}

.rental_title {
    color: #ff6060;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 0;
}

.rental_location {
    color: #ff6060;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    margin-top: 0;
}

.rental_tags {
    display: flex;
    flex-wrap: wrap;
}

.rental_ratings {
    display: flex;
    justify-content: flex-end;
}

.rental_equipments {
    gap: 0 75px;
    display: inline-flex;
    line-height: 22.5px;
    list-style: none;
    width: 100%;
}

.rental_equipments>.dropdown {
    width: 50%;
}

.grey {
    color: rgba(227, 227, 227, 1);
    font-size: 30px;
}

.red {
    color: rgba(255, 96, 96, 1);
    font-size: 30px;
}

ol {
    padding: 0;
}

@media screen and (max-width: 768px) {
    .red {
        font-size: 15px;
    }

    .grey {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .rental_display {
        margin-top: 32px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .rental_title {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        letter-spacing: 0em;
    }

    .rental_location {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        margin: 0;
        letter-spacing: 0em;
    }

    .rental_tags {
        margin-top: 16px;
    }

    .rental_content {
        flex-direction: column;
    }

    .rental_equipments {
        flex-direction: column;
    }

    .rental_equipments>.dropdown {
        width: 100%;
    }

    .rental_informations {
        width: 100%;
    }

    .rental_rating_host {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }

    .rental_ratings>img {
        height: 15%;
        width: 15%;
    }

    .rental_ratings {
        display: flex;
        justify-content: flex-start;
    }

}