.banner-content {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.banner-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/bannerAbout.png");
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    height: 210px;
    width: 100%;
    border-radius: 25px;
    filter: brightness(70%);
    z-index: 1;
}

@media (min-width: 375px) and (max-width: 768px) {

    .banner-background {
        background-image: url("../../assets/bannerAboutMobile.png");
        border-radius: 25px;
        mix-blend-mode: darken;

        margin-left: -31px;
        width: 348px;
        height: 215px;
    }
}