/* DESKTOP*/

header {
    max-width: 1250px;
    min-width: 324px;
    width: 100%;
    margin: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    padding: 0 20px;
}

.nav-link {
    color: #ff6060;
    font-size: 24px;
    margin-left: 10px;
    font-weight: 500;
    text-decoration: none;
    font-family: Montserrat;
    text-align: right;
    padding-left: 57px;
}

.active {
    text-decoration: underline;
    text-underline-offset: 3px;
}


/* MOBILE */

@media (max-width: 768px) {
    .nav-image {
        height: 40px;
    }

    .nav-link {
        text-transform: uppercase;
        font-size: 12px;
        padding-left: 0px;
    }

    .navigation {
        margin-top: 20px;
    }
}