.cards_display {
    display: grid;
    background-color: #f7f7f7;
    border-radius: 25px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 53px;
    border-radius: 25px;
    background-color: #f7f7f7;
    padding: 50px 30px 50px 56px;
}

.card {
    border-radius: 10px;
}

.card_link {
    position: relative;
}

img.card_gallery {
    border-radius: 10px;
    object-fit: cover;
    width: 340px;
    height: 340px;
}

.card_title {
    /* position: absolute;
    left: 6%;
    right: 19%;
    top: 74%;
    bottom: 6%;
    line-height: 25.67px;
    color: white; */

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    left: 6%;
    right: 19%;
    top: 74%;
    align-items: flex-end;
    color: #f7f7f7;
    position: absolute;
    max-width: 250px;
}

h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.card_cover::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    border-radius: 10px;
    width: 340px;
    height: 340px;
}


.card_cover {
    border-radius: 10px;
    object-fit: cover;
    width: 340px;
    height: 340px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.card {
    border-radius: 10px;
}

.card_gallery {
    border-radius: 10px;
}

@media (max-width: 768px) {
    img.card_gallery {
        width: 423px;
        height: 255px;
    }

    .card_image {
        width: 423px;
        height: 255px;
    }

    .card_cover {
        width: 423px;
        height: 255px;
    }

    .cards_display {
        background-color: white;
        padding: 0 0 0 0;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px;
    }

    .card_title {
        top: 177px;
    }
}