.footer {
    position: relative;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background: #000000;
    color: #ffffff;
    width: 102%;
    height: 230px;
    right: 10px;
}

.footer_allrights {
    color: white;
    font-family: Montserrat;
    font-style: medium;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
}

.footer_logo {
    width: 140px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .footer_allrights {
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
    }

    .footer_logo>img {
        width: 122px;
    }

    .footer {
        height: 230px;
        width: 105%;
    }
}